CON_UNI_SOAP_JAVA_KGARCIA/CON_UNI_SOAP_JAVA_KGARCIA_CLIENTE/src/META-INF/wsdl/localhost_8080/CON_UNI_SOAP_JAVA_KGARCIA_SERVIDOR/WS_Conversion_Unidades.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://servicios.kgarcia.edu.ec/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://servicios.kgarcia.edu.ec/">

<xs:element name="centigradosAfahrenheit" type="tns:centigradosAfahrenheit"/>

<xs:element name="centigradosAfahrenheitResponse" type="tns:centigradosAfahrenheitResponse"/>

<xs:element name="fahrenheitAcentigrados" type="tns:fahrenheitAcentigrados"/>

<xs:element name="fahrenheitAcentigradosResponse" type="tns:fahrenheitAcentigradosResponse"/>

<xs:complexType name="centigradosAfahrenheit">
<xs:sequence>
<xs:element name="centigrados" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="centigradosAfahrenheitResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fahrenheitAcentigrados">
<xs:sequence>
<xs:element name="fahrenheit" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="fahrenheitAcentigradosResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>